<mat-toolbar color="primary">
    <ul>
        <li>
            <a routerLink="/" routerLinkActive="active">Home</a>
        </li>
        <li>
            <a routerLink="/Weather" routerLinkActive="active">Weather</a>
        </li>
        <li>
            <a routerLink="/Posts" routerLinkActive="active">List Posts</a>
        </li>
        <li>
            <a routerLink="/Create" routerLinkActive="active">Create a Post</a>
        </li>
        <li>
            <a routerLink="/Login" routerLinkActive="active">Login</a>
        </li>
    </ul>
</mat-toolbar>